@import '../styles/variables';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card-img {
  display: block;
  width: 300px;
}

.card-title {
  color: navy;
}

.navbar-brand {
  color: navy !important;
 font-weight: bold;
 font-family: $headerFont;
}

.nav-link {
  color: navy !important;
  font-weight: bold;
  font-family: $headerFont;
}

.card-body:hover{ 
  transform: scale(1.1);
}
